extends base

mixin navItems(link, text, icon, active)
    li(class= `${active} ? li.side-nav--active' : ''`)
        a(href=`${link}`)
            svg
                use(xlink:href=`/img/icons.svg#icon-${icon}`)
            | #{text}


block content
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItems('#', 'Settings', 'settings', true)
                    +navItems('/my-tour', 'My bookings', 'briefcase')
                    +navItems('/my-reviews', 'My reviews', 'star')
                    +navItems('#', 'Billing', 'credit-card')

                -if(user.role=='admin')    
                    .admin-nav
                        h5.admin-nav__heading Admin
                        ul.side-nav
                            +navItems('/manage-tours', 'Manage tours', 'map',)
                            +navItems('/manage-users', 'Manage Users', 'users')
                            +navItems('#', 'Manage reviews', 'star' )
                            +navItems('#', 'Manage Bookings', 'briefcase')
                        
    
            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md= text
                    //-Without API user data update
                    //-form.form.form-user-data(action= '/submit-user-data' method= 'POST')
                    
                    //-With API
                    
                    form.form.createUser
                        .form__group
                            label.form__label(for='name') User Name
                            input#name.form__input(type='text',  required, name='name')
                        .form__group
                            label.form__label(for='email') Email
                            input#email.form__input(type='email',  required, name='email')
                        .form__group
                            label.form__label(for='password') Password
                            input#password.form__input(type='password',  required, name='password')
                        .form__group
                            label.form__label(for='passwordConfirm') Confirm Password
                            input#passwordConfirm.form__input(type='password',  required, name='passwordConfirm')
                        .form__group.right
                            button.btn.btn--small.btn--green.btn--save--password Create
                        
                